[submodule "rted-cpp-projects"]
	path = rted-cpp-projects
	url = https://github.com/morrisel/rted-cpp-projects.git
	branch = main

[submodule "rted-c-projects"]
	path = rted-c-projects
	url = https://github.com/morrisel/rted-c-projects.git
	branch = main
